{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3 text-center">
        <img src="{{ url_for('static', filename='images/' + session.emp_id|string + '.jpg') }}" class="rounded-circle mb-3" width="150" height="150" style="object-fit: cover;" onerror="this.onerror=null; this.src='{{ url_for('static', filename='images/default.jpg') }}';">
        <h1 class="display-5 fw-bold">Welcome, {{ session.name }}!</h1>
        <p class="fs-4">This is your personal dashboard. You can check your attendance and incentive hours here.</p>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Attendance</h5><hr>
                    <form method="POST" action="{{ url_for('dashboard') }}">
                        <div class="mb-3"><label for="from" class="form-label">From</label><input type="date" class="form-control" name="from" required></div>
                        <div class="mb-3"><label for="to" class="form-label">To</label><input type="date" class="form-control" name="to" required></div>
                        <button type="submit" name="btn" value="attendance" class="btn btn-primary">Get Info</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Incentive</h5><hr>
                    <form method="POST" action="{{ url_for('dashboard') }}">
                        <div class="mb-3"><label for="fromm" class="form-label">From</label><input type="date" class="form-control" name="fromm" required></div>
                        <div class="mb-3"><label for="too" class="form-label">To</label><input type="date" class="form-control" name="too" required></div>
                        <button type="submit" name="btn" value="incentive" class="btn btn-info">Get Info</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}